
      <article class="event-card">
        <div class="event-card-image">
          {{ if .Params.thumbnail }}
            <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />
          {{ else if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" />
          {{ end }}
        </div>

        <div class="event-card-content">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p class="event-date">{{ .Date.Format "2 Jan, 2006" }}</p>

          <p class="event-summary">
            {{ .Summary }}
            <a href="{{ .Permalink }}" class="read-more"> →</a>
          </p>
        </div>
      </article>

<!--
<article class="event-card">
    <div class="event-card-image">
        {{ if .Params.thumbnail }}
        {{ .Params.thumbnail }}
        {{ else if .Params.image }}
        {{ .Params.image }}
        {{ end }}
    </div>

    <div class="event-card-content">
        <h2>alink }}">{{ .Title }}</a></h2>
        <p class="event-date">{{ .Date.Format "2 Jan, 2006" }}</p>

        <p class="event-summary">
            {{ .Summary }}
            {{ .Permalink }}→</a>
        </p>
    </div>
</article>

-->